* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    font: 14px "Raleway", "Roboto", sans-serif;
    font-weight: 400;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}